/* estaticos.css */

/* --- RESET BÁSICO Y ESTILOS GENERALES --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  width: 90%;
  background-color: rgb(255, 255, 255);
  color: white;
  padding: 1rem 0;
  text-align: center;
}

/* --- HEADER / NAV --- */
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  
  text-decoration: none;
  font-weight: 250;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;

  position: relative;
  color: #2e2e2e;
  text-decoration: none;
}

header nav ul li a:hover {
  background-color: #e4e4e400;
  border-radius: 5px;
  color: #2e2e2e;
  text-decoration: underline;
}

/* --- FOOTER --- */
footer {
  font-size: 0.9rem;
  background-color: #1e1e2f;
  padding: 1rem;
  margin-top: 2rem;
  color: #ccc;
}
